body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('img/images.png'); /* URL da imagem de fundo */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#game-container {
    background-image: url('img/block.jpg');
    background-position: center;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    position: relative;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

#life-container {
    margin-bottom: 20px;
}

.life {
    width: 30px;
    height: 30px;
    margin: 0 5px;
}

#enemy-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.enemy {
    width: 50px;
    height: 50px;
}

#question-container {
    margin-bottom: 20px;
}

#answer {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

#feedback {
    font-size: 18px;
    margin-top: 20px;
}

#mario-container {
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
}

#mario {
    width: 90px; /* Ajuste o tamanho conforme necessário */
}

#restart-button {
    display: none;
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
}
